<div id='difficultyFormContainer'>
  <div class="row">
    <div class="col">
      <label for="difficulty">Choose your difficulty!</label>
      <input type="number" id="diffuculty" name="difficulty" min="1" max="4">
    </div>
    <div class="col">
      <button id="difficultySubmitBtn" class="btn btn-primary">Start</button>
    </div>
  </div>
</div>