<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="d-grid">
        <h3>Sugar</h3>
        <div class="btn-group-vertical" role="group">
          <input type="radio" class="btn-check" name="sugar-btnradio" id="sugar-btnradio1" autocomplete="off" value="No Sugar">
          <label class="btn btn-outline-primary" for="sugar-btnradio1">None</label>
          <input type="radio" class="btn-check" name="sugar-btnradio" id="sugar-btnradio2" autocomplete="off" value="Less Sugar">
          <label class="btn btn-outline-primary" for="sugar-btnradio2">Less</label>
          <input type="radio" class="btn-check" name="sugar-btnradio" id="sugar-btnradio3" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="sugar-btnradio3">Normal</label>
          <input type="radio" class="btn-check" name="sugar-btnradio" id="sugar-btnradio4" autocomplete="off" value="More Sugar">
          <label class="btn btn-outline-primary" for="sugar-btnradio4">More</label>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-grid">
        <h3>Strength</h3>
        <div class="btn-group-vertical" role="group">
          <input type="radio" class="btn-check" name="strength-btnradio" id="strength-btnradio1" autocomplete="off" value="Weak">
          <label class="btn btn-outline-primary" for="strength-btnradio1">Weak</label>
          <input type="radio" class="btn-check" name="strength-btnradio" id="strength-btnradio2" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="strength-btnradio2">Normal</label>
          <input type="radio" class="btn-check" name="strength-btnradio" id="strength-btnradio3" autocomplete="off" value="Strong">
          <label class="btn btn-outline-primary" for="strength-btnradio3">Strong</label>
          <input type="radio" class="btn-check" name="strength-btnradio" id="strength-btnradio4" autocomplete="off" value="Extra Strong">
          <label class="btn btn-outline-primary" for="strength-btnradio4">Extra</label>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="d-grid">
          <h3>Temperature</h3>
          <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="temp-btnradio" id="temp-btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="temp-btnradio1">Hot</label>
            <input type="radio" class="btn-check" name="temp-btnradio" id="temp-btnradio2" autocomplete="off" value="Lukewarm">
            <label class="btn btn-outline-primary" for="temp-btnradio2">Lukewarm</label>
            <input type="radio" class="btn-check" name="temp-btnradio" id="temp-btnradio3" autocomplete="off" value="Iced">
            <label class="btn btn-outline-primary" for="temp-btnradio3">Cold</label>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="d-grid">
          <h3>Milk</h3>
          <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="milk-btnradio" id="milk-btnradio1" autocomplete="off" value="No Milk">
            <label class="btn btn-outline-primary" for="milk-btnradio1">None</label>

            <input type="radio" class="btn-check" name="milk-btnradio" id="milk-btnradio2" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="milk-btnradio2">Condensed</label>

            <input type="radio" class="btn-check" name="milk-btnradio" id="milk-btnradio3" autocomplete="off" value="Evaporated Milk">
            <label class="btn btn-outline-primary" for="milk-btnradio3">Evaporated</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-grid my-3">
    <button type="button" class="btn btn-danger" id="kopi-submission-buttton">Submit</button>
  </div>
</div>