<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <h1>Kopi EJS?</h1>
  <button id="startButton">Start Brewing</button>
  <%- include('./partials/difficultyMenu.ejs') %>

  <div class="container-fluid" id="gameContainer">
    <div class="row">
      <div class="col">
        <h1>YOUR ORDER TEXT HERE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-grid gap-2">
          <h3>Sugar</h3>
          <button class="btn btn-primary" type="button">None</button>
          <button class="btn btn-primary" type="button">Less</button>
          <button class="btn btn-primary" type="button">Normal</button>
          <button class="btn btn-primary" type="button">More</button>
        </div>
      </div>
      <div class="col">
        <div class="d-grid gap-2">
          <h3>Strength</h3>
          <button class="btn btn-primary" type="button">Weak</button>
          <button class="btn btn-primary" type="button">Normal</button>
          <button class="btn btn-primary" type="button">Strong</button>
          <button class="btn btn-primary" type="button">Extra Strong</button>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="d-grid gap-2">
            <h3>Temperature</h3>
            <div class="btn-group" role="group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
              <label class="btn btn-outline-primary" for="btnradio1">Hot</label>
              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio2">Cold</label>
            </div>
            <!-- <button class="btn btn-primary" type="button">Hot</button>
            <button class="btn btn-primary" type="button">Iced</button> -->
          </div>
        </div>
        <div class="row">
          <h3>Milk</h3>
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">None</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Condensed</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Evaporated</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!-- Axios-related Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="index.js"></script>
</body>

</html>